.c-app {
  color: #3c4b64;
  background-color: #f2f3f8;
  --color: #3c4b64;
  min-height: 100vh;
  display: grid;
}

.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}

.flex-row {
  -webkit-box-direction: normal!important;
  -webkit-box-orient: horizontal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}